html{
    font-size: 62.5%;
    font-size: 10px;
    font-size: 1rem;;
}
body {
    font-family: Rubik, sans-serif;
  }
  
h1,h2 {
    font-family: Spectral, serif;
    
  }

h1{
    text-decoration: underline;
    font-family: Spectral, serif;
}
#intro{
    background-color: black;
    max-width: fit-content;
}
#tony{
    max-height: 40rem;
    max-width: 27rem; 
    padding: 6rem 4rem 6rem 6rem;
    float:left;  
    align-content: left;
    background-color: black;
}
.rowINTRO{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    
}
.columnINTRO{
    
    align-content: center;
    
}
@media screen and (max-width:768px){
    .rowINTRO{
        flex-direction: column;
        padding-bottom: 0rem;
        padding-top: 0rem;
        padding: 0rem;
        padding-left: 2.8rem;
    }
    #tony{
        max-width: 21rem;
        max-height: 30rem;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: .2rem;  
        padding-left:2rem;
        
    }
    .columnINTRO>p{
        padding-left: 0.5rem;
    }
}
.columnINTRO>p{
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-right: 4rem;
    text-align: justify;
    color: white;
    font-family: Rubik, sans-serif;
    
}
.columnINTRO>h2{
    padding-left: 1rem;
    text-align: left;
    color: white;
    padding-top: 3rem;
    font-family: Spectral, serif;
}
.vil{
    width:80%;
    height:50%;
    margin-left: 2rem; 
    display: inline-block;   
    padding: 0.5rem;     
}
.row{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    padding: 0.5rem;
}
.column{
    flex: 33.33%;
    padding: 0.5rem;
    padding-left: 6rem;
    align-content: center;
}
@media screen and (max-width:768px){
    .row{
        flex-direction: column;
    }
    .column{
        padding-left: 3rem;
    }
}
.column>p{
    font-size: 1.3rem;
    text-align: justify;
    padding: 0.5rem;
    font-family: Rubik, sans-serif;
}
.column>h2{
    padding-left: 4rem;
    font-family: Spectral, serif;

}
#movies{
    background-color: black;
}
.mov{
    width:15rem;
    height: 20rem; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.rowMOV{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    
}
.columnMOV{
    flex: 33.33%;
    padding: 0.5rem;
    padding-left: .5rem;
    align-content: center;
    background-color: black;
}
@media screen and (max-width:768px){
    .rowMOV{
        flex-direction: column;
    }
}
.columnMOV>p{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    font-family: Rubik, sans-serif;
}
.columnMOV>h2{
    padding-left: 1rem;
    text-align: center;
    color: white;
    font-family: Spectral, serif;
}
.video{
    align-content: center;
    padding-left: 3rem;
}
.rowSUIT{
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    
}
.columnSUIT{
    flex: 33.33%;
    padding: 0.5rem;
    padding-bottom: 6rem;
    align-content: center;
    
}
@media screen and (max-width:768px){
    .rowSUIT{
        flex-direction: column;
        padding-left: 1rem;
    }
    .video{
        padding-left: 0rem;
        width: 25rem;
        height: 36rem;
    }
    .columnSUIT>h2{
        padding-left: 6rem;
    }
}
.columnSUIT>p{
    font-family: Rubik, sans-serif;
}
.columnSUIT>h2{
    padding-left: 1rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    font-family: Spectral, serif;
}
#technologies{
    background-color: black;
}
.tech{
    max-width:20rem;
    height: 20rem; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.rowTECH{
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    
}
.columnTECH{
    flex: 33.33%;
    padding: 0.5rem;
    padding-bottom: 6rem;
    align-content: center;
    
}
@media screen and (max-width:768px){
    .rowTECH{
        flex-direction: column;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .tech{
        padding-left:0rem;
    }
    .columnTECH{
        padding: 0rem;
    }
    .columnTECH>p{
        padding-left: 0rem; 
        padding-right: 3rem;
    }
    .columnTECH>h2{
        padding-left: 0rem;
    }
}
.columnTECH>p{
    font-size: 1.3rem;
    text-align: justify;
    color: white;
    align-content: center;
    padding-top: 2rem;  
    padding-left: 4.5rem;
    font-family: Rubik, sans-serif;
}
.columnTECH>h2{
    padding-left: 1rem;
    text-align: center;
    color: white;
    align-content: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    font-family: Spectral, serif;
}